<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyBuddy</title>
  </head>
  <body>
    <nav class="nav-container">
      <ul lass="nav-list">
        <li>Home</li>
        <li>Dashboard</li>
        <li>Courses</li>
        <li>Profile</li>
      </ul>
    </nav>
    <section>
      <div>
        <h1>Hello User</h1>
        <h2>Welcome to StudyBuddy</h2>
        <p>
          Introducing StudyBuddy, the AI-powered studybuddy for learners of all
          ages and levels. Whether you need a mentor, tutor, or a fellow student
          to study with, our app has you covered. Choose from mentor or tutor
          modes, and our AI chatbot will provide personalized study roadmaps,
          conduct mock tests, and offer feedback. Opt for the buddy mode, and
          our AI becomes your study companion, helping you learn, sharing
          resources, and even taking tests together. Make studying engaging,
          efficient, and effective with StudyBuddy."
        </p>
      </div>
    </section>
    <section>
      <h3>Choose your mode</h3>
      <div class="mode-option">
        <div class="tutor-mode">Tutor</div>
        <div class="buddy-mode">Buddy</div>
      </div>
    </section>
    <section>
      <label for="prompt">Your First Prompt</label><br />
      <textarea
        type="text"
        id="prompt"
        name="prompt"
        rows="1"
        class="prompt-input"
      >
      </textarea
      ><br />
      <button (click)="fetchData()">Fetch Data</button>
    </section>
  </body>
</html>
